@charset "UTF-8";

@font-face {
    font-family: "Roboto Mono";
    src: url(fonts/RobotoMono-Regular.ttf);
}

* {
    margin: 0px;
}

body {
    background-color: black;
    font-family: 'Roboto Mono';
    color: green;
}

header {
    color: black;
    background-color: antiquewhite;
    padding: 10px;
    font-size: 1.6em;
    text-align: center;
}

header > h1 {
    cursor: default;
}

main {
    text-align: center;
    margin: auto;
}

.Repositórios {
    margin: 15px auto;
}

.Repositórios > article {
    margin-top: 15px;
    display: inline-flex;
    height: 300px;
    width: 200px;
    border-radius: 10px;
    border: 3px solid green;
}

a {
    color: yellowgreen;
    text-decoration: none;
}

article {
    position: relative;
    text-align: center;
}

article h2 {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -40%);
}
.Repositórios > article:hover {
    background-color: rgba(153, 205, 50, 0.123);
}

footer {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    cursor: default;
    font-style: italic;
    font-weight: bold;
    padding: 12px;
    text-align: center;
}

a > img {
    /*filter: invert(100%);*/
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
}

a > img:hover {
    filter: invert(20%);
}