@charset "UTF-8";

@font-face {
    font-family: 'Roboto Mono';
    src: url(fonts/RobotoMono-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    font-family: 'Roboto Mono';
    color: green;
}

header {
    height: 100vh;
    position: relative;
}

.evento {
    background-color: aquamarine;
    padding: 25px;
    min-width: 600px;
    text-align: center;
    visibility: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
}

.evento > h1 {
    font-size: 5em;
}

.evento #navPrimeiro {
    margin-left: -15px;
}

.evento a {
    color: yellowgreen;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 15px;
}