@charset "UTF-8";

@font-face {
    font-family: 'Roboto Mono';
    src: url(fonts/RobotoMono-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family: 'Roboto Mono';
    color: green;
}

.evento {
    background-color: black;
    padding: 25px;
    margin: auto;
    text-align: center;
}

.evento > h1 {
    font-size: 4.3em;
}

#quartoH1 > a {
    color: green;
    transition: color 500ms;
}

#quartoH1 > a:hover {
    color: rgb(1, 48, 1);
    transition: color 500ms;
}

.evento > nav {
    text-align: center;
    margin-top: 25px;
    margin: 25px auto 0px;
}

.evento #navPrimeiro {
    margin-left: -15px;
}

.evento a {
    color: yellowgreen;
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.1em;
    margin-left: 25px;
}

.evento a:hover {
    color: green;
}

/*novos css*/
main {
    background-color: blue;
    margin: auto;
    height: 100vh;
    max-width: 1100px;
}

footer {
    background-color: black; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    cursor: default;
}

footer > section {
    padding: 10px;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

#midiaSociaisLogos > a#primeiroAFooter {
    margin-left: -25px;
}

#midiaSociaisLogos > a {
    color: black;
    margin-left: 25px;
    margin-bottom: -50px;
}

#midiaSociaisLogos > a > img {
    filter: invert(100%);
    width: 35px;
    height: 35px;
}

#midiaSociaisLogos > a > img:hover {
    filter: invert(30%);
}

#segundoPFooter {
    margin-top: 10px;
    margin-right: 25px ;
}