@charset "UTF-8";

@font-face {
    font-family: 'Roboto Mono';
    src: url(fonts/RobotoMono-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    font-family: 'Roboto Mono';
    color: green;
}

header {
    height: 100vh;
    position: relative;
}

.evento {
    padding: 25px;
    min-width: 600px;
    text-align: center;
    visibility: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.evento > h1 {
    cursor: default;
    font-size: 6em;
}

.evento > nav {
    margin-top: 25px;
}

.evento #navPrimeiro {
    margin-left: -15px;
}

.evento a {
    color: yellowgreen;
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 15px;
    transition-duration: 500ms;
}

.evento a:hover {
    color: green;
    transition-duration: 500ms;
}