@charset "UTF-8";

@font-face {
    font-family: 'Roboto Mono';
    src: url(fonts/RobotoMono-Regular.ttf);
}

* {
    margin: 0px;
}

body {
    background-color: black;
    font-family: 'Roboto Mono';
    color: green;
}

header {
    height: 100vh;
    text-align: center;
}

header > #secHeader {
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
    cursor: default;
}

#secHeader > h1 {
    font-size: 7em;
    border-right: 5px solid green;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(11),
        cursor .6s step-end infinite alternate;
}

#secHeader > nav {
    margin: 100px auto 0px;
    border-right: 3px solid yellowgreen;
    width: 492px;
    white-space: nowrap;
    overflow: hidden;
}

#secHeader > nav > a {
    font-size: 1.3em;
    text-decoration: none;
    color: yellowgreen;
    padding-left: 30px;
}

#secHeader > nav > a#primeiraOcorrênciaNav {
    padding-left: 0px;
}

@keyframes cursor{
    50% {border-color: transparent}
}

@keyframes typing {
    from {width: 0}
}

#secHeader a:hover {
    padding-bottom: 2px;
    text-decoration: underline;
}