@charset "UTF-8";

@font-face {
    font-family: "Roboto Mono";
    src: url(../../fonts/RobotoMono-Regular.ttf);
}

* {
    margin: 0px;
}

body {
    background-color: black;
    font-family: 'Roboto Mono';
    color: green;
}

header > #secHeader {
    max-width: 600px;
    padding: 20px;
    margin: auto;
    color: green;
}

#secHeader > h1 {
    text-align: center;
}

#secHeader > h1 > a {
    text-decoration: none;
    color: green;
    font-size: 3em;
}

#secHeader > h1 > a:hover {
    text-decoration: none;
}

#secHeader > nav {
    text-align: center;
    padding: 5px;
    width: 430px;
    margin: 20px auto 0px;
}

#secHeader > nav > a#pageAtual {
    padding-left: 0px;
    color: green;
    font-weight: bolder;
    font-size: 1.1em;
}

#secHeader > nav > a {
    font-weight: bold;
    text-decoration: none;
    color: yellowgreen;
    padding-left: 30px;
}

#secHeader > nav > a:hover {
    padding-bottom: 2px;
    text-decoration: underline;
}

main {
    background-color: white;
    margin: auto;
    height: 100vh;
    width: 1100px;
}

footer {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    cursor: default;
    font-style: italic;
    font-weight: bold;
    padding: 12px;
    text-align: center;
}

#midiaSociaisLogos > a {
    color: black;
}

a > img {
    filter: invert(100%);
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
}

a > img:hover {
    filter: invert(30%);
}