@charset "UTF-8";

:root {
    /*color-scheme: light dark;*/

    /*Paleta de Sombras do Branco*/
    --branco01: #FFFFFF;
    --branco02: #F6F6F6;
    --branco03: #D4D4D4;
    --branco04: #B3B3B3;
    --branco05: #919191;
    --branco06: #6F6F6F;

    /*Paleta de Sombras do Preto*/
    --preto01: #000000;
    --preto02: #3C3C3C;
    --preto03: #5E5E5E;
    --preto04: #808080;
    --preto05: #A2A2A2;
    --preto06: #C3C3C3;

    /*Paleta Cores Principais*/
    --cor01: #24f0c4;
    --cor02: #2498f0;
    --cor03: #23d8f0;
    --cor04: #24f07f;
    --cor05: #2457f0;
    --cor06: #74e1f0;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

.projeto {
    cursor: pointer;
    margin: 15px auto;
    border-radius: 25px;
    width: 80vw;
    padding: 20px;
    background-color: var(--branco06);
    color: var(--branco01);
}

.projeto h1 {
    font-size: 1.6em;
    margin-top: -5px;
    margin-left: 10px;
}

.projeto h2 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 0.8em;
    font-style: italic;
}

.projetos {
    display: block;
}

.mostradorProjeto {
    display: none;
    background-color: var(--preto02);
    width: 100vw;
    height: 100vh;
}

iframe {
    width: 100vw;
    height: 100vh;
}

.mostradorProjeto span {
    cursor: pointer;
    position: absolute;
    right: 0;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.253);
    font-size: 2.4em;
    margin: 15px;
    background-color: var(--branco04);
    color: var(--preto02);
    border-radius: 50%;
}