@charset "UTF-8";

html {
    background-color: black;
}

body {
    display: none;
}

:root {
    /*color-scheme: light dark;*/

    /*Paleta de Sombras do Branco*/
    --branco01: #FFFFFF;
    --branco02: #F6F6F6;
    --branco03: #D4D4D4;
    --branco04: #B3B3B3;
    --branco05: #919191;
    --branco06: #6F6F6F;

    /*Paleta de Sombras do Preto*/
    --preto01: #000000;
    --pret001: #333333;
    --preto02: #3C3C3C;
    --preto002: #575757;
    --preto03: #5E5E5E;
    --preto04: #808080;
    --preto05: #A2A2A2;
    --preto06: #C3C3C3;

    /*Paleta Logo*/
    --cor01: #3224f0;
    --cor02: #24F0C5;
    --cor03: #7424F0;
}

* {
    margin: 0px;
    padding: 0px;
}

@media (min-width:320px)  {

    html {
        font-family: Arial, Helvetica, sans-serif;
        background-color: var(--preto01);
    }

    body {
        display: block;
    }

    header {
        display: flex;
        position: fixed;
        height: 45px;
        width: 100%;
        background-color: var(--preto01);
        align-items: center;
        justify-content: center;

        & > h1 {
            cursor: default;
            background-image: linear-gradient(to right, #3224f0, #24F0C5, #7424F0);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: var(--branco01);
            font-size: 1.5em;
            font-weight: bolder;
        }
    }

    .menuLateral {
        position: fixed;
        cursor: default;
        width: 45px;
        height: 45px;
        top: 0px;
        left: 0px;
        border-radius: 0px 0px 20px 20px;
        overflow: hidden;

        & > section {
            display: flex;
            cursor: pointer;
            width: 45px;
            height: 45px;

            & > img {
                transform: scale(70%);
            }
        }

        & > nav {
            & > a {
                display: none;
                text-align: center;
                text-decoration: none;
                color: var(--branco02);
                font-size: 1.2em;
                font-weight: bolder;
                padding: 10px;
                background-color: #1D1D1D;
                transition: border 1500ms ease;

                &:hover:nth-child(1) {
                    color: #3224f0;
                }

                &:hover:nth-child(2) {
                    color: #24F0C5;
                }

                &:hover {
                    background-color: var(--preto002);
                    text-shadow: 1px 2px 1px var(--pret001);
                }
            }
        }
    }
    
    .redesSociaisMenuLateral {
        display: block;
        cursor: default;

        & a {
            display: none;
            justify-content: center;
            height: 50px;
            background-color: var(--preto01);

            &:nth-child(2), &:nth-child(3) {
                margin-left: -20px;
            }
        }
        
        & img {
            margin-top: -8px;
            transform: scale(45%);
            filter: grayscale(100%);
            filter: brightness(100);
            
            &:hover {
                filter: grayscale(0%);
            }
        }
    }

    .menuCentral {
        display: none;

        & > a {
            text-decoration: none;
            color: var(--branco01);
            padding: 10px;
            border-radius: 25px;
            border: solid 2px transparent;
            margin: 0px 5px;
            font-size: 1.15em;
            transition: border 500ms ease, color 500ms ease;
            
            &:hover:nth-child(1) {
                background: linear-gradient(var(--preto01), var(--preto01)) padding-box, linear-gradient(to right, #3224f0 20%, #24F0C5) border-box;
                /*color: #3224f0;*/
                /*temp*/
                color: #24F0C5;
            }

            &:hover:nth-child(2) {
                background: linear-gradient(var(--preto01), var(--preto01)) padding-box, linear-gradient(to right, #24F0C5, #7424F0 75%) border-box;
                color: #24F0C5;
            }
        
            &:hover {
                border: solid 2px transparent;
                color: var(--branco01);
                text-shadow: 0px 1px 2px var(--preto002);
                transition: border 500ms ease, color 500ms ease;
            }
        }
    }
    
    .redesSociaisHeader {
        display: none;
        margin-right: 5px;

        & > a {
            margin-left: -20px;
        }

        & img {
            transform: scale(45%);
            filter: grayscale(100%);
            filter: brightness(100);

            &:hover {
                filter: grayscale(0%);
            }
        }
    }

    main {
        width: 100%;
        padding-bottom: 15px;
        background-color: var(--preto02);
    }

    .espaçoVazio {
        height: 45px;
    }

    footer {
        cursor: default;
        height: 40px;
        background-color: var(--preto01);
        color: var(--branco06);
        font-size: 1em;
        font-style: italic;
        text-align: center;
        align-content: center;
    }
    
    footer > p {
        padding: 10px 0px 15px;
    }
}

@media (min-width: 480px)  {
    .espaçoVazio {
        height: 55px;
    }
    
    header {
        height: 55px;

        & > h1 {
            font-size: 2em;
        }
    }

    .menuLateral {
        width: 55px;
        height: 55px;
        
        & > section {
            width: 55px;
            height: 55px;                
        }

        & > nav > a {
            font-size: 1.3em;
        }
    }

    .redesSociaisMenuLateral {
        & a {
            height: 60px;
            align-items: center;

            &:nth-child(2), &:nth-child(3) {
                margin-left: -10px;
            }
        }
        
        & img {
            margin-top: -4px;
            transform: scale(55%); 
        }
    }

    footer {
        font-size: 1.2em;
        
        & > p {
            padding: 10px;
        }
    }
}

@media (min-width:600px)  {
    header {
        height: 55px;
        justify-content: space-between;

        & > h1 {
            font-size: 1.7em;
            margin-left: 15px;
        }
    }
    
    .menuCentral {
        display: flex;
        flex-flow: row nowrap;
    }

    .redesSociaisHeader {
        display: flex;
    }

    .menuLateral {
        display: none;
    }
}
@media (min-width:1025px) {
    header > h1 {
        font-size: 2em;
    }

    .menuCentral > a {
        font-size: 1.25em;
    }
}