@charset "UTF-8";

/*Mobile First!!*/
* {
    margin: 0px;
    padding: 0px;
}

:root {
    /*Paleta Verde Sombras*/
    --verde01: #00ff00;
    --verde02: #00d600;
    --verde03: #00ad00;
    --verde04: #008000;
    --verde05: #005c00;

    /*Paleta Preto Sombras*/
    --preto01: #a8a8a8;
    --preto02: #808080;
    --preto03: #575757;
    --preto04: #333333;
    --preto05: #000000;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--preto05);
}

header {
    cursor: default;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    color: var(--verde05);
}

main {
    margin: auto;
    background-color: white;
    border-radius: 20px;
    width: 90vw;
    overflow: hidden;
    padding: 10px;
    height: 75vh;
}

main > section:nth-child(1) > h1 {
    font-size: 1.5em;
    background-color: var(--verde03);
    color: white;
    text-shadow: 0px 2px 4px var(--preto04);
    margin: -10px;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 3px 5px 2px #3333338e, inset 0px 4px 10px 5px #0000002d;
    padding: 10px;
    cursor: default;
}

#htmlCssEstudo {
    cursor: default;
    color: var(--preto04);
    text-shadow: 0px 3px 3px #005c006b;
    width: 100%;
    margin-top: 25px;
    text-align: left;
}

#htmlCssEstudo > p {
    font-weight: bolder;
    margin-left: 10px;
}

#htmlCssEstudo a {
    color: var(--verde05);
    text-decoration: none;
}

#htmlCssEstudo a:hover {
    background-color: var(--verde04);
    padding: 2px;
    border-radius: 5px;
    color: white;
}

footer {
    cursor: default;
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    color: var(--verde05);
    font-weight: bolder;
}