@charset "UTF-8";

@font-face {
    font-family: 'Roboto Mono';
    src: url(../../fonts/RobotoMono-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto Mono';
    text-align: center;
    color: green;
}