@charset "UTF-8";

@font-face {
    font-family: 'Roboto Mono';
    src: url(../../fonts/RobotoMono-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto Mono';
    text-align: center;
    color: green;
}

main > h1 {
    margin-bottom: 50px;
}

.projeto {
    cursor: default;
    margin: auto;
    position: relative;
    background-color: black;
    border: 7px solid green;
    border-radius: 15px;
    height: 150px;
    width: 150px;
}

.projeto:hover {
    cursor: pointer;
    background-color: green;
    color: white;
    border: 7px solid black;
}

.projeto > h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}