@charset "UTF-8";

@font-face {
    font-family: 'Roboto Mono';
    src: url(../../fonts/RobotoMono-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto Mono';
    text-align: center;
    color: green;
}

main > h1 {
    cursor: default;
    margin-top: 25px;
}

.repo {
    position: relative;
    height: 500px;
    max-width: 900px;
    padding: 20px;
    margin: 50px auto 0px;
    background-color: black;
    border: 8px solid green;
    border-radius: 10px;
}

.repo > h2 {
    position: absolute;
    cursor: default;
    top: -4.8%;
    left: 50%;
    transform: translate(-50%);

    background-color: green;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.repo > article {
    cursor: pointer;
    margin-bottom: 25px;
    text-align: left;
}

.repo > article > h3::after {
    content: ' ↟';
}

.repo > article:hover > h3::after {
    content: ' ↡';
}