@charset "UTF-8";

/*Mobile First*/

:root {
    /*color-scheme: light dark;*/

    /*Paleta de Sombras do Branco*/
    --branco01: #FFFFFF;
    --branco02: #F6F6F6;
    --branco03: #D4D4D4;
    --branco04: #B3B3B3;
    --branco05: #919191;
    --branco06: #6F6F6F;

    /*Paleta de Sombras do Preto*/
    --preto01: #000000;
    --preto02: #3C3C3C;
    --preto03: #5E5E5E;
    --preto04: #808080;
    --preto05: #A2A2A2;
    --preto06: #C3C3C3;

    /*Paleta Cores Principais*/
    --cor01: #24f0c4;
    --cor02: #2498f0;
    --cor03: #23d8f0;
    --cor04: #24f07f;
    --cor05: #2457f0;
    --cor06: #74e1f0;

    /*Paleta Cores Complementares cor05*/
    --corC101: #f0b724;
    --corC102: #9b854b;
    --corC103: #464239;
    --corC104: #2457f0;
    --corC105: #495370;
    --corC106: #4661b0;

    /*Paleta Cores Complementares cor06*/
    --corC201: #f0a973;
    --corC202: #9b8a7e;
    --corC203: #46382e;
    --corC204: #74e1f0;
    --corC205: #5c6e70;
    --corC206: #80aab0;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--preto01);
}

header {
    display: flex;
    position: fixed;
    height: 55px;
    width: 100%;
    background-color: var(--corC104);
    align-items: center;
    justify-content: center;
}

header > h1 {
    cursor: default;
    color: var(--branco01);
    text-shadow: 1px 2px 5px var(--preto02);
    transition: all 2000ms ease;
}

.menuCentral {
    display: none;
    transition: all 2000ms ease;
}

.menuCentral > a {
    text-decoration: none;
    color: var(--branco01);
    padding: 10px;
    border-radius: 25px;
    margin: 0px 5px;
    font-size: 1.2em;
    transition: color 300ms ease, background-color 300ms ease;
}

.menuCentral > a:hover {
    background-color: var(--branco01);
    color: var(--cor05);
    transition: color 300ms ease, background-color 300ms ease;
}

.redesSociaisHeader {
    display: none;
    margin-right: 5px;
    transition: all 2000ms ease;
}

.redesSociaisHeader > a {
    margin-left: -20px;
}

.redesSociaisHeader img {
    transform: scale(45%);
    filter: invert();
}

main {
    background-color: var(--preto03);
    width: 100%;
    height: 900px;
}

.menuLateral {
    position: fixed;
    top: 0px;
    left: 0px;
}

.menuLateral > section {
    display: flex;
    cursor: pointer;
    width: 55px;
    height: 55px;
}

.menuLateral > section > img {
    transform: scale(70%);
}

.menuLateral > nav > a {
    display: none;
    text-align: center;
    text-decoration: none;
    color: var(--branco01);
    font-size: 1.5em;
    padding: 10px;
    background-color: var(--cor02);
    width: 172px;
}

.menuLateral > nav > a:hover {
    background-color: var(--branco01);
    color: var(--cor02);
}

.redesSociaisMenuLateral {
    display: flex;
    margin-left: 68px;
    margin-top: 6px;
    align-items: center;
    justify-content: center;
}

.redesSociaisMenuLateral a {
    display: none;
    background-color: var(--cor05);
}

.redesSociaisMenuLateral img {
    filter: invert();
    transform: scale(45%);
}

footer {
    background-color: var(--corC101);
    color: var(--branco03);
    width: 100%;
    height: 50px;
}