@charset "UTF-8";

/*Mobile First!!*/
* {
    margin: 0px;
    padding: 0px;
}

:root {
    /*Paleta Verde Sombras*/
    --verde01: #008000;
    --verde02: #005c00;
    --verde03: #022502;

    /*Paleta Preto Sombras*/
    --preto01: #a8a8a8;
    --preto02: #808080;
    --preto03: #575757;
    --preto04: #333333;
    --preto05: #000000;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--preto05);
}

header {
    cursor: default;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    color: var(--verde02);
}

main {
    margin: auto;
    background-color: white;
    border-radius: 20px;
    width: 90vw;
    overflow: hidden;
    padding: 10px;
}

main > section:nth-child(1) > h1 {
    cursor: pointer;
    font-size: 1.5em;
    background-color: var(--verde02);
    color: white;
    text-shadow: 0px 2px 4px var(--preto04);
    margin: -10px;
    text-align: center;
    box-shadow: inset 0px 4px 10px 5px #0000002d;
    padding: 15px;
}

#htmlCssEstudo {
    cursor: default;
    width: 100%;
    margin-top: 25px;
    text-align: left;
}

#htmlCssEstudo > h2 {
    color: white;
    background-color: var(--verde03);
    width: 80%;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
    padding: 5px;
    margin-left: -10px;
}

#htmlCssEstudo > p {
    font-weight: bolder;
    margin-left: 10px;
}

#htmlCssEstudo a {
    color: var(--verde02);
    text-decoration: none;
}

#htmlCssEstudo a:hover {
    background-color: var(--verde02);
    padding: 2px;
    border-radius: 5px;
    color: white;
}

.mostradorMódulos {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 380px;
    text-align: center;
    margin: 10px -10px -5px;
}

#mod1, #mod2, #mod3, #mod4 {
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.3em;
    align-content: center;
    color: white;
    padding: 10px;
    width: 160px;
    border: 6px solid var(--verde03);
    border-radius: 15px;
    height: 150px;
    background-color: var(--verde02);
}

#mod1:hover, #mod2:hover, #mod3:hover, #mod4:hover {
    background-color: #022502;
}

footer {
    cursor: default;
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    color: var(--verde02);
    font-weight: bolder;
}