@charset "UTF-8";

@font-face {
    font-family: 'Roboto Mono Regular';
    src: url(../fonts/RobotoMono-Regular.ttf);
}

:root {
    --font01: 'Roboto Mono Regular', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}

#paginaAtual {
    background-color: rgba(0, 128, 0, 0.24);
    border-radius: 10px;
    color: lightgray;
}

html {
    background-color: black;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

header {
    color: green;
    text-align: center;
    font-family: var(--font01);
    padding: 20px;
}

header > h1 {
    cursor: default;
    font-size: 3em;
    margin-bottom: 20px;
}

header > nav {
    cursor: default;
    margin-bottom: 10px;
}

header a {
    color: yellowgreen;
    font-size: 1.2em;
    padding: 10px;
}

header a:hover {
    color: green;
    text-decoration: underline 2px; /*por enquanto*/
    
}

main {
    margin: auto;
    padding: 25PX;
    background-color: white;
    max-width: 950px;
    border: 5px solid green;
    border-radius: 5px;
}

main > section > h1 {
    cursor: default;
    background-color: green;
    text-align: center;
    margin: -25px -25px 5px;
    padding: 15px;
    color: white;
    font-family: var(--font01);
    border-radius: 0px 0px 10px 0px;
    max-width: 180px;
}

footer {
    color: green;
    font-family: var(--font01);
    text-align: center;
    padding: 15px;
    cursor: default;
}