@charset "UTF-8";

:root {
    /*color-scheme: light dark;*/

    /*Paleta de Sombras do Branco*/
    --branco01: #FFFFFF;
    --branco02: #F6F6F6;
    --branco03: #D4D4D4;
    --branco04: #B3B3B3;
    --branco05: #919191;
    --branco06: #6F6F6F;

    /*Paleta de Sombras do Preto*/
    --preto01: #000000;
    --pret001: #333333;
    --preto02: #3C3C3C;
    --preto002: #575757;
    --preto03: #5E5E5E;
    --preto04: #808080;
    --preto05: #A2A2A2;
    --preto06: #C3C3C3;

    /*Paleta Logo*/
    --cor01: #3224f0;
    --cor02: #24F0C5;
    --cor03: #7424F0;
}

* {
    margin: 0px;
    padding: 0px;
}

@media (min-width:320px)  {
    main > hr {
        width: 80%;
        margin: 30px auto 20px;
        border: 2px solid var(--preto04);
    }

    .sobre {
        height: 250px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right, #3224f0, #24F0C5, #7424F0);
        box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.295);

        & > section {
            background-color: #5e5e5ea8;
            display: flex;
            height: 90px;
            width: 290px;
            padding: 50px 5px;
            justify-content: space-around;
            align-items: center;
            border-radius: 25px;
            box-shadow: 3px 3px 5px var(--pret001);
            transition: width 500ms ease-out;
        
            & > p {
                cursor: default;
                font-size: 0.76em;
                color: var(--branco01);
                font-weight: bold;
                width: 150px;
                text-shadow: 0px 1px 10px var(--preto01);
                text-align: center;
                transition: font-size 500ms ease-out, width 500ms ease-out;
            }
        
            & > article {
                overflow: hidden;
                height: 120px;
                width: 120px;
                border-radius: 50%;
                box-shadow: 2px 3px 5px var(--pret001);

                & > img {
                    content: url('../imagens/foto_perfil/foto_lalunainsky_120px.jpg');
                }
            }
        }
    }
    
    .estudo {
        & > .cabeçalhoEstudo {
            background-color: var(--preto01);
            width: 180px;
            height: 40px;
            margin: auto;
            border-radius: 20px;
            text-align: center;
            padding: 15px;
    
            & > h1 {
                cursor: default;
                font-size: 1.1em;
                margin-bottom: 10px;
                color: var(--branco03);
            }
    
            & > p {
                color: var(--branco01); 
                font-size: 0.85em;
    
                & > a {
                    text-decoration: none;
                    padding: 5px;
                    border-radius: 15px;
                    font-weight: bold;
                    color: #24F0C5;
                    transition: background-color 500ms ease-out, color 300ms ease-out;
    
                    &:hover {
                        background-color: #7424F0;
                        color: var(--preto01);
                        transition: background-color 500ms ease-out, color 300ms ease-out;
                    }
                }
            }
        }
    }
    
    #m1 > h2 {
        margin-top: 0px;
        border-radius: 0px 0px 20px 20px;
    }
    
    .módulo {
        width: 300px;
        margin: auto;
        justify-content: center;
        align-items: center;
        
        & > h2 {
            cursor: default;
            margin: 20px auto 0px;
            text-align: center;
            background-color: #3224f0;
            color: var(--branco03);
            width: 150px;
            font-size: 1.05em;
            padding: 10px 0px;
            border-radius: 20px;
        }
    
        & > section {
            background-color: var(--preto04);
            width: 100%;
            margin: auto;
    
            & > h3 {
                color: var(--preto06);
                background-color: var(--preto01);
                cursor: default;
                font-size: 1.1em;
                padding-top: -25px;
                margin-bottom: -5px;
                padding: 15px 0px 10px 15px;
            }
    
            & > p {
                cursor: default;
                padding: 8px;
                color: var(--preto01);
                font-weight: bolder;
                font-size: 0.85em;
                margin-top: 5;
                padding-top: 10px;
                background-image: linear-gradient(to bottom, var(--preto01), var(--preto06) 40%);
    
                & > a {
                    padding: 5px;
                    border-radius: 15px;
                    color: #7424F0;
                    font-size: 1.05em;
                    text-decoration: none;
                    transition: color 400ms ease-out, background-color 400ms ease-out;
    
                    &:hover {
                        background-color: #24F0C5;
                        color: var(--preto02);
                        transition: color 400ms ease-out, background-color 400ms ease-out;
                    }
                }
            }
    
            & > article {
                & a {
                    text-decoration: none;
                    color: var(--branco03);
                    width: 60px;
                    background-color: var(--preto02);
                    font-size: 1em;
                    font-weight: bold;
                    text-align: center;
                    padding: 5px;
                    border: 3px solid var(--preto03);
                    border-radius: 10px;
                    transition: border-color 300ms ease-out, background-color 300ms ease-out, color 300ms ease-out;
    
                    &:hover {
                        border-color: #7424F0;
                        background-color: #14032e;
                        color: var(--branco01);
                        transition: border-color 300ms ease-out, background-color 300ms ease-out, color 300ms ease-out;
                    }
                }
    
                & ul {
                    list-style-type: none;
                    padding: 15px;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    row-gap: 10px;
                    column-gap: 10px;
                }
    
                & li {
                    display: grid;
                }
            }
        }
    
        & > .desafio {
            border-radius: 20px 20px 0px 0px;
            margin-top: 10px;
            overflow: hidden;
    
            
            & > h3 {
                background-image: linear-gradient(to bottom, #3224f0, var(--preto01) 40%);
            }
        }
    
        & > .exercício {
            border-radius: 0px 0px 20px 20px;
            overflow: hidden;
            background-image: linear-gradient(to bottom, var(--preto04) 92%, #3224f0);
    
            & > h3 {
                padding-top: -25px;
            }
        }
    }
}

@media (min-width:480px)  {
    main > hr {
        width: 90%;
    }

    .sobre {
        height: 400px;

        & > section {
            width: 430px;
            height: 200px;

            & > p {
                font-size: 1em;
                width: 200px;
            }

            & > article {
                height: 200px;
                width: 200px;
                
                & > img {
                    content: url('../imagens/foto_perfil/foto_lalunainsky_200px.jpg');
                }
            }
        }
    }

    .estudo {
        & > .cabeçalhoEstudo {
            width: 220px;
            height: 50px;

            & > h1 {
                font-size: 1.25em;
            }

            & > p {
                font-size: 1em;
            }
        }
    }

    .módulo {
        width: 420px;

        & > h2 {
            font-size: 1.35em;
            width: 180px;
        }

        & > section  {
            & > h3 {
                font-size: 1.4em;
            }
            
            & > p {
                padding-top: 15px;
                font-size: 1em;
                & > a {
                    font-size: 1.1em;
                }
            }

            & > article {
                & a {
                    font-size: 1.15em;
                }
            }
        }

    }
}

@media (min-width:600px)  {
    main > hr {
        max-width: 800px;
    }
    
    .sobre {
        height: 500px;

        & > section {
            width: 550px;
            height: 250px;

            & > p {
                font-size: 1.2em;
                width: 250px;
            }

            & > article {
                height: 250px;
                width: 250px;
                
                & > img {
                    content: url('../imagens/foto_perfil/foto_lalunainsky_250px.jpg');
                }
            }
        }
    }
    
    .módulos {
        margin: auto;
        max-width: 800px;
    }

    .módulo {
        width: 420px;
        margin: auto;
    }

}

@media (min-width: 895px)  {
    main > hr {
        max-width: 1000px;
    }

    .módulos {
        max-width: 1000px;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        margin-bottom: 30px;

    }

    #m1 > h2 {
        margin-top: 20px;
        border-radius: 20px;
    }
}

@media (min-width:1025px) {
    .sobre {
        height: 550px;

        & > section {
            width: 700px;
            height: 300px;

            & > p {
                font-size: 1.45em;
                width: 350px;
            }

            & > article {
                height: 300px;
                width: 300px;
                
                & > img {
                    content: url('../imagens/foto_perfil/foto_lalunainsky_300px.jpg');
                }
            }
        }
    }

    .estudo {
        & > .cabeçalhoEstudo {
            width: 280px;
            height: 50px;

            & > h1 {
                font-size: 1.5em;
            }

            & > p {
                font-size: 1.1em;
            }
        }
    }
}