@charset "UTF-8";

:root {
    /*color-scheme: light dark;*/

    /*Paleta de Sombras do Branco*/
    --branco01: #FFFFFF;
    --branco02: #F6F6F6;
    --branco03: #D4D4D4;
    --branco04: #B3B3B3;
    --branco05: #919191;
    --branco06: #6F6F6F;

    /*Paleta de Sombras do Preto*/
    --preto01: #000000;
    --pret001: #333333;
    --preto02: #3C3C3C;
    --preto002: #575757;
    --preto03: #5E5E5E;
    --preto04: #808080;
    --preto05: #A2A2A2;
    --preto06: #C3C3C3;

    /*Paleta Logo*/
    --cor01: #3224f0;
    --cor02: #24F0C5;
    --cor03: #7424F0;
}

* {
    margin: 0px;
    padding: 0px;
}

.sobre {
    height: 500px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #3224f0, #24F0C5, #7424F0);
}

.sobre > section {
    background-color: #5e5e5ed0;
    display: flex;
    width: 450px;
    padding: 50px 5px;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    box-shadow: 3px 3px 5px var(--pret001);
    transition: width 500ms ease-out;

    &>p {
        cursor: default;
        font-size: 1.2em;
        color: var(--branco01);
        font-weight: bold;
        width: 200px;
        text-shadow: 0px 1px 10px var(--preto01);
        text-align: center;
        transition: font-size 500ms ease-out, width 500ms ease-out;
    }

    &>article {
        overflow: hidden;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        box-shadow: 2px 3px 5px var(--pret001);
    }
}

@media screen and (min-width: 600px) {
    .sobre > section {
        width: 600px;
        transition: width 500ms ease-out;
    
        &>p {
            font-size: 1.35em;
            width: 250px;
            transition: font-size 500ms ease-out, width 500ms ease-out;
        }
    }
}

@media screen and (min-width: 992px) {
    .sobre > section {
        width: 800px;
        transition: width 500ms ease-out;
    
        &>p {
            font-size: 1.7em;
            width: 400px;
            transition: font-size 500ms ease-out, width 500ms ease-out;
        }

        &>article {
            width: 300px;
            height: 300px;
        }
    }
}