@charset "UTF-8";

/*Mobile First!!*/
* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor01: #24f0c4;
    --cor02: #2498f0;
    --cor03: #23d8f0;
    --cor04: #24f07f;
    --cor05: #2457f0;
    --cor06: #74e1f0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    cursor: default;
    font-size: 1.7em;
    text-shadow: 2px 3px 4px var(--cor05);
    padding: 25px;
    text-align: center;
    color: white;
    background-color: var(--cor02);
}

main {
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
}

main > section > h1 {
    cursor: default;
    background-image: linear-gradient( to right , var(--cor03), transparent 90%);
    font-size: 2em;
    text-shadow: 0px 3px 2px var(--cor05);
    color: white;
    padding: 10px 20px;
}

.estudos h2 {
    font-size: 1.4em;
    cursor: default;
    color: var(--cor05);
    text-shadow: 1px 2px 2px white;
    padding: 5px 10px;
    background-image: linear-gradient(to right, var(--cor01), transparent 90%);
}

.estudos > section > p:nth-child(2) {
    color: white;
    font-size: 1em;
    cursor: default;
    padding: 5px 20px;
    text-shadow: 0px 3px 5px var(--cor05);
    background-image: linear-gradient(to right, var(--cor05), transparent 85%);
    margin-bottom: 15px;
}

.estudos > section > p:nth-child(2) > a {
    text-decoration: none;
    color: white;
}

.estudos > section > p:nth-last-child(1) {
    margin: 20px 15px;
}

.mod {
    display: none;
}

.mod > h3 {
    cursor: pointer;
}

.mod > h4, .mod > ul {
    display: none;
}

footer {
    cursor: default;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: var(--cor05);
}

footer > p:nth-child(1) img {
    filter: invert();
    transform: scale(60%);
}

footer > p:nth-child(1) > a:nth-child(2) > img {
    margin: 0px 5px;
}