@charset "UTF-8";

/*Mobile First!!*/
* {
    margin: 0px;
    padding: 0px;
}

:root {
    color-scheme: light dark;

    /*Paleta de Sombras do Branco*/
    --branco01: #FFFFFF;
    --branco02: #F6F6F6;
    --branco03: #D4D4D4;
    --branco04: #B3B3B3;
    --branco05: #919191;
    --branco06: #6F6F6F;

    /*Paleta de Sombras do Preto*/
    --preto01: #000000;
    --preto02: #3C3C3C;
    --preto03: #5E5E5E;
    --preto04: #808080;
    --preto05: #A2A2A2;
    --preto06: #C3C3C3;

    /*Paleta Cores Principais*/
    --cor01: #24f0c4;
    --cor02: #2498f0;
    --cor03: #23d8f0;
    --cor04: #24f07f;
    --cor05: #2457f0;
    --cor06: #74e1f0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    cursor: default;
    font-size: 1.3em;
    height: 80px;
    text-shadow: 2px 3px 4px var(--cor05);
    border-radius: 0px 0px 60px 60px;
    color: white;
    background-color: var(--cor02);
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.200), inset -1px 3px 10px 3px rgba(0, 0, 0, 0.120);
    
    transition: border-radius 500ms;
    transition-timing-function: ease;
}

main {
    border-radius: 20px;
    overflow: hidden;
    margin: 10px auto;
    width: 430px;

    transition: width 500ms;
    transition-timing-function: ease;
}

main > section > h1 {
    cursor: default;
    background-image: linear-gradient( to right , var(--cor03), transparent 90%);
    font-size: 2em;
    text-shadow: 0px 3px 2px var(--cor05);
    color: white;
    padding: 10px 20px;
}

main > section > h1:nth-last-child(2) {
    border-top-left-radius: 20px;
}

.estudos h2 {
    font-size: 1.4em;
    cursor: default;
    color: var(--cor05);
    text-shadow: 1px 2px 2px white;
    padding: 5px 10px;
    background-image: linear-gradient(to right, var(--cor01), transparent 90%);
}

.estudos > section > p:nth-child(2) {
    color: white;
    font-size: 1em;
    cursor: default;
    padding: 5px 20px;
    text-shadow: 0px 3px 5px var(--cor05);
    background-image: linear-gradient(to right, var(--cor05), transparent 90%);
    border-bottom-left-radius: 15px;
}

.estudos > section > p:nth-child(2) > a {
    padding: 5px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.estudos > section > p:nth-child(2) > a:hover {
    padding: 5px;
    background-color: white;
    color: var(--cor05);
    text-shadow: none;
    border-radius: 15px;
}

.estudos > section > p:nth-last-child(1) {
    margin: 20px 15px;
}

#javascriptEstudo > h2 {
    border-top-left-radius: 10px;
}

#htmlCssEstudo > aside, #javascriptEstudo > aside {
    border-radius: 15px 20% 20% 15px;
    padding: 20px 0px 0px;
    background-color: var(--cor06);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    margin-bottom: 15px;
}

#htmlCssEstudo > aside > p, #javascriptEstudo > aside > p {
    background-color: var(--cor05);
    width: 100%;
    text-align: center;
    cursor: default;
    color: white;
    font-weight: bolder;
    margin-left: -30px;
    margin-top: 20px;
    padding: 15px;
}

#htmlCssEstudo > aside > p > a, #javascriptEstudo > aside > p > a {
    padding: 5px;
    text-decoration: none;
    color: var(--cor06);
}

#htmlCssEstudo > aside > p > a:hover, #javascriptEstudo > aside > p > a:hover {
    background-color: var(--cor06);
    color: var(--cor05);
    border-radius: 15px;
}

.mostradorMódulos {
    padding: 20px;
    height: 260px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    
    transition: height 500ms, justify-content 500ms, align-content 500ms, flex-flow 500ms;
    transition-timing-function: ease;
}

.mod > h3 {
    background-color: white;
    width: 120px;
    color: var(--cor05);
    align-content: center;
    text-align: center;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px var(--cor05);

    transition: height 500ms, width 500ms, font-size 500ms, background-color 500ms, color 500ms;
    transition-timing-function: ease;
}

.mod > h3:hover {
    box-shadow: 0px 0px 5px 5px var(--cor05);
    background-color: var(--cor05);
    color: white;
    text-shadow: none;

    transition: background-color 500ms, color 500ms;
    transition-timing-function: ease;
}

.mod > h4, .mod > ul {
    display: none;
}

.projetos > section {
    background-color: var(--cor05);
    text-align: center;
    padding: 15px;
    color: white;
    font-weight: bolder;
}

.projetos > section a {
    text-decoration: none;
    padding: 5px;
    border-radius: 15px;
    color: var(--cor06);

    transition: color 300ms, background-color 300ms;
    transition-timing-function: ease;
}

.projetos > section a:hover {
    background-color: var(--cor06);
    color: var(--cor05);

    transition: background-color 300ms, color 300ms;
    transition-timing-function: ease;
}

#mostradorProjetos {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor06);
    height: 280px;
    overflow: hidden;
    border-top-right-radius: 80px;
}

.botõesSetas {
    width: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;

    transition: background-color 500ms;
    transition-timing-function: ease;
}
 
.botõesSetas > img {
    background-color: var(--cor02);
    padding: 14px;
    margin-left: -14px;
    transform: scale(50%);
    border-radius: 50%;

    transition: background-color 500ms;
    transition-timing-function: ease;
}

.botõesSetas:hover {
    background-color: #2457f08e;

    transition: background-color 500ms;
    transition-timing-function: ease;
}

.botõesSetas:hover > img {
    background-color: transparent;

    transition: background-color 500ms;
    transition-timing-function: ease;
}

#mostradorProjetos > section {
    align-content: center;
}

#conteudoProjetos {
    cursor: default;
}

#mostradorProjetos > section#conteudoProjetos {
    align-content: center;
    text-align: center;
    width: 73.5%;
}

#conteudoProjetos > a {
    text-decoration: none;
}

#conteudoProjetos > #quantidadeOpções {
    width: 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 15px auto 0px;
}

#quantidadeOpções > p {
    margin: 0px 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#conteudoProjetos > a > aside {
    margin: 20px auto;
    background-color: white;
    box-shadow: 0px 0px 5px 5px var(--cor05);
    border-radius: 50px;
    color: var(--cor05);
    font-size: 1.2em;
    height: 200px;
    align-content: center;
    width: 80%;

    transition: color 500ms, background-color 500ms;
    transition-timing-function: ease;
}

#conteudoProjetos > a > aside:hover {
    background-color: var(--cor05);
    color: white;

    transition: color 500ms, background-color 500ms;
    transition-timing-function: ease;
}

#conteudoProjetos > a > aside > section {
    display: none;
}

footer {
    cursor: default;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: var(--cor05);
    box-shadow: inset 0px 4px 10px 5px rgba(0, 0, 0, 0.13);
}

footer > p:nth-child(1) img {
    filter: invert();
    transform: scale(60%);
}

footer > p:nth-child(1) > a:nth-child(2) > img {
    margin: 0px 5px;
}