@charset "UTF-8";

/*Mobile First!!*/
* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor01: #24f0c4;
    --cor02: #2498f0;
    --cor03: #23d8f0;
    --cor04: #24f07f;
    --cor05: #2457f0;
    --cor06: #74e1f0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    cursor: default;
    font-size: 1.3em;
    height: 80px;
    text-shadow: 2px 3px 4px var(--cor05);
    border-radius: 0px 0px 60px 60px;
    color: white;
    background-color: var(--cor02);
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.200), inset -1px 3px 10px 3px rgba(0, 0, 0, 0.120);
    
    transition: border-radius 500ms;
    transition-timing-function: ease;
}

main {
    border-radius: 20px;
    overflow: hidden;
    margin: 10px auto;
    width: 430px;

    transition: width 500ms;
    transition-timing-function: ease;
}

main > section > h1 {
    cursor: default;
    background-image: linear-gradient( to right , var(--cor03), transparent 90%);
    font-size: 2em;
    text-shadow: 0px 3px 2px var(--cor05);
    color: white;
    padding: 10px 20px;
}

main > section > h1:nth-last-child(1) {
    border-top-left-radius: 20px;
}

.estudos h2 {
    font-size: 1.4em;
    cursor: default;
    color: var(--cor05);
    text-shadow: 1px 2px 2px white;
    padding: 5px 10px;
    background-image: linear-gradient(to right, var(--cor01), transparent 90%);
}

.estudos > section > p:nth-child(2) {
    color: white;
    font-size: 1em;
    cursor: default;
    padding: 5px 20px;
    text-shadow: 0px 3px 5px var(--cor05);
    background-image: linear-gradient(to right, var(--cor05), transparent 90%);
    border-bottom-left-radius: 15px;
}

.estudos > section > p:nth-child(2) > a {
    padding: 5px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.estudos > section > p:nth-child(2) > a:hover {
    padding: 5px;
    background-color: white;
    color: var(--cor05);
    text-shadow: none;
    border-radius: 15px;
}

.estudos > section > p:nth-last-child(1) {
    margin: 20px 15px;
}

#javascriptEstudo > h2 {
    border-top-left-radius: 10px;
}

#htmlCssEstudo > aside, #javascriptEstudo > aside {
    border-radius: 15px 20% 20% 15px;
    padding: 20px 0px 0px;
    background-color: var(--cor06);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    margin-bottom: 15px;
}

#htmlCssEstudo > aside > p, #javascriptEstudo > aside > p {
    background-color: var(--cor05);
    width: 100%;
    text-align: center;
    cursor: default;
    color: white;
    font-weight: bolder;
    margin-left: -30px;
    margin-top: 20px;
    padding: 15px;
}

#htmlCssEstudo > aside > p > a, #javascriptEstudo > aside > p > a {
    padding: 5px;
    text-decoration: none;
    color: var(--cor06);
}

#htmlCssEstudo > aside > p > a:hover, #javascriptEstudo > aside > p > a:hover {
    background-color: var(--cor06);
    color: var(--cor05);
    border-radius: 15px;
}

.mostradorMódulos {
    padding: 20px;
    height: 260px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    
    transition: height 500ms, justify-content 500ms, align-content 500ms, flex-flow 500ms;
    transition-timing-function: ease;
}

.mod > h3 {
    background-color: white;
    width: 120px;
    color: var(--cor05);
    align-content: center;
    text-align: center;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px var(--cor05);

    transition: height 500ms, width 500ms, font-size 500ms, background-color 500ms, color 500ms;
    transition-timing-function: ease;
}

.mod > h3:hover {
    box-shadow: 0px 0px 5px 5px var(--cor05);
    background-color: var(--cor05);
    color: white;
    text-shadow: none;

    transition: background-color 500ms, color 500ms;
    transition-timing-function: ease;
}

.mod > h4, .mod > ul {
    display: none;
}

footer {
    cursor: default;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: var(--cor05);
    box-shadow: inset 0px 4px 10px 5px rgba(0, 0, 0, 0.13);
}

footer > p:nth-child(1) img {
    filter: invert();
    transform: scale(60%);
}

footer > p:nth-child(1) > a:nth-child(2) > img {
    margin: 0px 5px;
}



/*TESTES
#hcM2, #hcM3, #hcM4 {
    display: none;
}

padrão
#mM1 {
    height: auto;
    transition-duration: 500ms;
    transition-timing-function: ease;  
}

#htmlCssEstudo > aside {
    border-radius: 15px 18% 18% 15px;      
}

#hcM1 > h3 {
    background-color: var(--cor05);
    color: white;
    font-size: 1.4em;
    padding: 10px;
    width: 350px;
    height: auto;
    box-shadow: none;
    border-radius: 20px 20px 0px 0px;
}

#hcM1 > h4 {
    cursor: default;
    background-color: var(--cor02);
    color: white;
    font-size: 1.1em;
    padding: 10px;
    display: block;
}

#hcM1 > ul {
    padding: 10px;
    columns: 3;
    list-style-type: none;
    background-color: white;
    display: block;
}

#hcM1 > ul:nth-child(3) {
    border-left: 10px solid var(--cor02);
    border-right: 10px solid var(--cor02);
}

#hcM1 > ul:nth-last-child(1) {
    border-left: 10px solid var(--cor02);
    border-right: 10px solid var(--cor02);
    border-bottom:10px solid var(--cor02);
    border-radius: 0px 0px 20px 20px;
}

#hcM1 > ul > li { 
    padding: 7px;
}

#hcM1 > ul > li > a {
    color: var(--cor05);
    font-size: 1.05em;
    font-weight: bolder;
    text-decoration: none;
}

#hcM1 > ul > li > a:hover {
    background-color: var(--cor04);
    border-radius: 5px;
    padding: 5px;
}

#hcM1 > h3:hover {
    background-color: var(--cor04);
    color: var(--cor05);
}

@media screen and (min-width: 768px) {
    #hcM1 > h3 {
        width: 460px;
        font-size: 1.6em;
    }

    
    #hcM1 > h4 {
        font-size: 1.3em;
    }

    #hcM1 > ul > li > a {
        font-size: 1.2em;
    }
}*/