@charset "UTF-8";

/*Mobile First*/

:root {
    /*color-scheme: light dark;*/

    /*Paleta de Sombras do Branco*/
    --branco01: #FFFFFF;
    --branco02: #F6F6F6;
    --branco03: #D4D4D4;
    --branco04: #B3B3B3;
    --branco05: #919191;
    --branco06: #6F6F6F;

    /*Paleta de Sombras do Preto*/
    --preto01: #000000;
    --pret001: #333333;
    --preto02: #3C3C3C;
    --preto002: #575757;
    --preto03: #5E5E5E;
    --preto04: #808080;
    --preto05: #A2A2A2;
    --preto06: #C3C3C3;

    /*Paleta Logo*/
    --cor01: #3224f0;
    --cor02: #24F0C5;
    --cor03: #7424F0;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--preto01);
}

header {
    display: flex;
    position: fixed;
    height: 55px;
    width: 100%;
    background-color: var(--preto01);
    align-items: center;
    justify-content: center;
}

header > h1 {
    cursor: default;
    background-image: linear-gradient(to right, #3224f0, #24F0C5, #7424F0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--branco01);
    font-size: 2em;
    font-weight: bolder;
    transition: all 2000ms ease;
}

.menuCentral {
    display: none;
    transition: all 2000ms ease;
}

.menuCentral > a {
    text-decoration: none;
    color: var(--branco01);
    padding: 10px;
    border-radius: 25px;
    border: solid 2px transparent;
    margin: 0px 5px;
    font-size: 1.25em;
    transition: border 500ms ease, color 500ms ease;
}

.menuCentral > a:hover {
    border: solid 2px transparent;
    color: var(--branco01);
    text-shadow: 0px 1px 2px var(--preto002);
    transition: border 500ms ease, color 500ms ease;
}

.menuCentral > a:hover:nth-child(1) {
    background: linear-gradient(var(--preto01), var(--preto01)) padding-box, linear-gradient(to right, #3224f0 50%, #24F0C5) border-box;
    color: #3224f0;
}

.menuCentral > a:hover:nth-child(2) {
    background: linear-gradient(var(--preto01), var(--preto01)) padding-box, linear-gradient(to right, #24F0C5, #24F0C5) border-box;
    color: #24F0C5;
}

.menuCentral > a:hover:nth-child(3) {
    background: linear-gradient(var(--preto01), var(--preto01)) padding-box, linear-gradient(to right, #24F0C5, #7424F0 55%) border-box;
    color: #7424F0;
}

.redesSociaisHeader {
    display: none;
    margin-right: 5px;
    transition: all 2000ms ease;
}

.redesSociaisHeader > a {
    margin-left: -20px;
}

.redesSociaisHeader img {
    transform: scale(45%);
    filter: grayscale(100%);
    filter: brightness(100);
}

.redesSociaisHeader img:hover {
    filter: grayscale(0%);
}

.menuLateral {
    position: fixed;
    cursor: default;
    width: 55px;
    height: 55px;
    top: 0px;
    left: 0px;
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;
}

.menuLateral > section {
    display: flex;
    cursor: pointer;
    width: 55px;
    height: 55px;
}

.menuLateral > section > img {
    transform: scale(70%);
}

.menuLateral > nav > a {
    display: none;
    text-align: center;
    text-decoration: none;
    color: var(--branco02);
    font-size: 1.5em;
    padding: 10px;
    background-color: #1D1D1D;
    transition: border 1500ms ease;
}

.menuLateral > nav > a:hover {
    background-color: var(--preto002);
    text-shadow: 1px 2px 1px var(--pret001);
}

.menuLateral > nav > a:hover:nth-child(1) {
    color: #3224f0;
}

.menuLateral > nav > a:hover:nth-child(2) {
    color: #24F0C5;
}

.menuLateral > nav > a:hover:nth-child(3) {
    color: #7424F0;
}

.redesSociaisMenuLateral {
    display: flex;
    cursor: default;
    margin-left: 68px;
    margin-top: 6px;
    align-items: center;
    justify-content: center;
    transition: margin 1500ms ease;
}

.redesSociaisMenuLateral a {
    display: none;
    background-color: var(--preto01);
}

.redesSociaisMenuLateral img {
    transform: scale(55%);
    filter: grayscale(100%);
    filter: brightness(100);
}

.redesSociaisMenuLateral img:hover {
    filter: grayscale(0%);
}

main {
    width: 100%;
    height: 95vh;
    padding-bottom: 25px;
    background-color: var(--preto02);
}

.espaçoVazio {
    height: 55px;
}

.destaques {
    height: 350px;
    background-color: var(--preto002);
}

.destaques > h1 {
    cursor: default;
    padding: 10px 5px 15px;
    margin: auto;
    font-size: 1.4em;
    text-align: center;
    background-color: #1d1d1d7c;
    color: var(--branco01);
    width: 150px;
    border-radius: 0px 0px 20px 20px;
}

footer {
    cursor: default;
    height: 40px;
    background-color: var(--preto01);
    color: var(--branco06);
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
    align-content: center;
}

footer > p {
    padding: 5px;
}